@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');




body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: normal;
    background-color: #f1f1f1;
    color: #0f141e;
}

.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}


.avatar {
    border: 1px solid black;
    margin: 5px;
    width: 300px;
    border-radius: 25px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, .25);
}

.info {
    font-style: italic;
    margin-bottom: 20px;
}

.info-text p {
    margin-left: 20px;
    font-style: oblique;
    color: #181818;
}

.info-text h1 {
    margin-left: 20px;
}

.card {
    border: 1px solid black;
    border-radius: 25px;
    margin: 5px;
    margin-bottom: 20px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, .25);

}

.col2 li {
    display: inline-flex;

    width: 45%;
}




.skills {
    background-color: #207f60;
    padding: 15px 20px;
}

.experience {
    background-color: #207f60;
    padding: 15px 20px;
}

.ask {
    background-color: #207f60;
    padding: 15px 20px;
}



.btn {
    background: #FF5600;
    padding: 15px 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: inherit;
}

.btn:hover {
    color: #00AA72;
}

a {
    text-decoration: none;
}

a:hover {
    color: #DAA520;
    text-decoration: underline;
}

.table {
    width: 100%;
}

.table td {
    text-align: center;
    padding-bottom: 10px;
}

.list {
    padding: 0 20px;
}

.form-row {
    margin-bottom: 10px;
    display: flex;
}

.form-row .form-group {
    margin-right: 20px;
    width: 50%;
}

.form-row .form-group:last-child {
    margin-right: 0;
}

.form-group label {
    display: block;
    font-size: 14px;
}





.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #FF5600;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

::-webkit-input-placeholder {
    color: #FFA273;
}